<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>User Inventory</title>
</head>

<body>
    <h1>Your Inventory:</h1>
    <ul>
        {% for item in inventory %}
        <li>{{ item }}</li>
        {% endfor %}
    </ul>

    {% if 'apple' in inventory %}
        <p>You have an apple.</p>
    {% else %}
        <p>You do not have an apple.</p>
    {% endif %}

    {% if 'lime' in inventory %}
        <h1>Linc is a cool guy</h1>
    {% else %}
        <p>linc isnt gay???</p>
    {% endif %}

    {% if 'cherry' in inventory %}
        <H1>Linc more like stink</H1>
    {% else %}
        <p>Linc the stink</p>
    {% endif %}
</body>

</html>